body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background: rgb(62, 158, 158);
}

.wrapper {
  margin: auto;  
  background-color:rgb(95, 192, 119) ;
  width: 1000px;  
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 24px;    
  justify-content: flex-end;  
  background-color: yellowgreen;
  margin: 0;
  padding: 20px;
}

.navigation>li {
  margin-left: 30px;
}

.navigation>li>a {
  color: black;
  text-decoration: none;
}

.main-info {
  display: flex;
}

.main-text {
  display: flex;
  background-color: rgb(224, 177, 88);
  width: 600px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-info>img {
  width: 360px;
}

.main-text>div {
  font-size: 30px;
}

.info {
  display: flex;
  margin: 0;
}

.info-some {  
  padding: 20px;
  max-width: 600px;
}

.info-skills {
  margin: 0;
  padding: 20px;
  width: 400px;
  background-color: skyblue;
}

.footer-list {
  margin: 0;
  display: flex;
  list-style: none;  
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
}

.footer-year {
  font-size: 28px;
}

.footer-rss {
  margin-right: 20px;
}